<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TGA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TGA.Properties.Settings>
            <setting name="api_id" serializeAs="String">
                <value>24823414</value>
            </setting>
            <setting name="api_hash" serializeAs="String">
                <value>510c1c650cbbf268f52e2bb2679623ba</value>
            </setting>
        </TGA.Properties.Settings>
    </applicationSettings>
</configuration>